@import url('https://fonts.googleapis.com/css?family=Noto%20Serif%20Ethiopic:700|Noto%20Serif%20Ethiopic:400');

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

*{
  background-image: url('https://images.unsplash.com/photo-1548352599-413c8b2703d1?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  --text: #0c1817;
  --background: #f5fafa;
  --primary: #5eb5aa;
  --secondary: #a8b8d6;
  --accent: #777fc0;

  font-family: "Noto Serif Ethiopic";
}

#root {
  max-width: 60vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.entryCard {
  padding: 2rem;
  border: 2px solid var(--accent);
  margin: 2rem;
  border-radius: 5rem;
}

button, .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: "Noto Serif Ethiopic";
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .button:hover {
  border-color: #646cff;
}
button:focus, .button:focus,
button:focus-visible, .button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home {
  transition: border-color 0.25s;
  cursor: pointer;
  color: var(--background);
  font-size: x-large;
  font-style: italic;
  position:fixed;
  top:0;
  left:0; 
}

.highlightText {
  color: var(--primary);
  transition: border-color 0.25s;
}

.home:hover {
  color: var(--secondary);
}

.opening {
  font-style: italic;
}

.nameInput {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.dailyEntry {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  font-weight: bold;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border: 2px solid var(--background);
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 200px;
  bottom: 100%;
  left: 30%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}